<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>COVID STORES</title>
  </head>
 
  <body>
    <div class="container mt-2">

      <!-- the reason you add a Z or f like in registration on id is to vary them. -->
      <form class="myform form-group" id="addproductz" name="mydata" action="/addproduct/addproduct" method="POST" enctype="multipart/form-data">
        <div class="jumbotron">
          <h3 class="text-center text-primary mb-5">ADD PRODUCT</h3>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input">Name of the Item</label>
              <input type="text" name="username" class="form-control" placeholder="" id="username">
            </div>
            <div class="form-group col-md-6">
              <label for="input">Make</label>
              <input type="text" name="make" class="form-control" placeholder="" id="make">

            </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input">Category</label>
                <!-- <input type="text" name="category" class="form-control" placeholder="" id="category"> -->
                <select id="category" class="form-control"  name="category">
                  <option value="furniture">Furniture</option>
                  <option value="fitness kits">Fitness Kits</option>
                  <option value="Machinery">Machinery</option>
                  <option value="TV Sets">TV Sets</option>
                  <option value="home theatre">Home Theatres</option>
                </select>
              </div>
              

              <div class="form-group col-md-6 input-group date" id="datetimepicker1">
              <label for="input" class="control-label">Date of Entry.</label>
                 <input type='date' class="form-control" name="date" placeholder="" id="date">
                 <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
                 </span>
              </div>
            </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="input">Serial Number</label>
                  <input type="number" name="serialnumber" class="form-control" placeholder="" id="serialnumber">
    
                </div>
                <div class="form-group col-md-4">
                  <label for="input">Price</label>
                  <input type="number" name="price" class="form-control" placeholder="" id="price">
    
                </div>
                <div class="form-group col-md-4">
                  <label for="input">Initial Pay</label>
                  <input type="number" name="initialpay" class="form-control" placeholder="" id="initialpay">
                </div>
              </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="input">Pay Interval</label>
                    <!-- <input type="number" name="payinterval" class="form-control" placeholder="" id="payinterval"> -->
                    <select id="payinterval" name="payinterval" class="form-control">
                      <!-- <option value="Weekly">Weekly</option> -->
                      <option value="Monthly">Monthly</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="input">Product Description</label>
                    <textarea class="form-control" name="productdescription" id="productdescription"></textarea>
      
                  </div>
                

          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input">Upload Image</label>
                <input type="file" name="uploadimage" class="form-control" placeholder="" id="uploadimage">
  
              </div>
              <div class="form-group col-md-6">
                <label for="input">Color</label>
                <input type="text" name="color" class="form-control" placeholder="" id="color">
                <label for="#">LTTP</label>
                <input type="checkbox" id="" name="LTTP" value="LTTP">
              </div>
              </div>

            <div class="form-row"> 
              <div class="form-group col-md-12 text-center text-right mt-5">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>

              </div>

            </div>
         
        </div>

      </form>


    </div>
      
    <!-- Bootstrap being added to js -->
      <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
      <script src="js/bootstrap/js/popper.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.js"></script>
      <!-- Top navigation bar -->
      <script src="/includes/nav.js"></script>
      <!-- Footer infinite slider -->
      <script src="carousel/carousel.js"></script>
      <script src="carousel/slideInc.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <!-- Slick Slider JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <!-- Advanced Font Awesome NB: You used two font awesomes for this project. -->
      <script src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous"></script>
      <script src="/index.js"></script>
      <script src="routes/registrationform.js"></script>
      <!-- Javascript for DateTime Picker -->
      <!-- Includes for DateTime Picker -->
      <script src="/addproductformdate.js"></script>
      <!-- End of DateTime Picker -->

  </body>
</html>