<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="carousel/infinite-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <title>COVID STORES</title>
  </head>
 
  <body>
    <div w3-include-html="/includes/nav.html"></div>
    <div class="page-wrapper">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="purchase/purchase" class="btn btn-primary">Purchase</a>
        </div>
      </div>
    </div>


          <div class="footer container-fluid text-center">
            <div class="footer-content">
              <div class="footer-section about">
                <h5>OUR PARTNERS</h5>
        <div class="container">
          <!-- Infinite Slider -->
          <section class="customer-logos slider">
            <div class="slide"><img src="carousel/carouselImages/Okiror brand.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/refactory.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/ciu.png"></div>
            <div class="slide"><img src="carousel/carouselImages/laboremus.png"></div>
            <div class="slide"><img src="carousel/carouselImages/fontes.png"></div>
            <div class="slide"><img src="carousel/carouselImages/microsoft.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/phoenix.webp"></div>
            <div class="slide"><img src="carousel/carouselImages/dc2.jpg"></div>
          </section>
        </div>
              </div>
              <div class="footer-section links">
                <h5>ADMIN LOGIN</h5>
                <a href="dashboard/dashboard"><i class="fa fa-id-card"></i>MANAGER DASHBOARD.</a>
                <a href="/salesdashboard/salesdashboard"><i class="fa fa-id-card"></i>SALES DASHBOARD.</a>
                <div class="footer-section contact-form">
                  <div class="icon-bar">
                    <div class="footer-bottom">
                      &copy; | COVID STORES &#169;
                    </div>
                    <a href="#" class="facebook"><i class="fa fa-facebook fa-1x" ></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter fa-1x"></i></a>
                    <a href="#" class="google"><i class="fa fa-google fa-1x"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin fa-1x"></i></a>
                    <a href="#" class="youtube"><i class="fa fa-youtube fa-1x"></i></a>
                  </div>
                </div>
              </div>
              <div class="footer-bottom">
                &copy; | Designed by OKIROR PHILLIP JOTHAM &#169;
              </div>
              </div>
          </div>


       
      
      <!-- <footer class="container-fluid text-center">
        <h3>Our Partners</h3>
        <div class="container">
          <section class="customer-logos slider">
            <div class="slide"><img src="carousel/carouselImages/Okiror brand.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/refactory.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/ciu.png"></div>
            <div class="slide"><img src="carousel/carouselImages/laboremus.png"></div>
            <div class="slide"><img src="carousel/carouselImages/fontes.png"></div>
            <div class="slide"><img src="carousel/carouselImages/microsoft.jpg"></div>
            <div class="slide"><img src="carousel/carouselImages/phoenix.webp"></div>
            <div class="slide"><img src="carousel/carouselImages/dc2.jpg"></div>
          </section>
        </div>
        <a> &#169; OKIROR PHILLIP JOTHAM </a> <br>
        <a href="dashboard/dashboard"><i class="fa fa-id-card"></i>Dashboard.</a>  
       
        The social media icon bar -->                                                                              
        <!-- <div class="icon-bar">
          <a href="#" class="facebook"><i class="fa fa-facebook fa-1x" ></i></a>
          <a href="#" class="twitter"><i class="fa fa-twitter fa-1x"></i></a>
          <a href="#" class="google"><i class="fa fa-google fa-1x"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin fa-1x"></i></a>
          <a href="#" class="youtube"><i class="fa fa-youtube fa-1x"></i></a>
        </div>
        <p>Footer Text</p>
      </footer> -->
      
    <!-- Bootstrap being added to js -->
      <script src="js/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
      <script src="js/bootstrap/js/popper.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.js"></script>
      <!-- Top navigation bar -->
      <script src="/includes/nav.js"></script>
      <!-- Footer infinite slider -->
      <script src="carousel/carousel.js"></script>
      <script src="carousel/slideInc.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <!-- Slick Slider JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <!-- Advanced Font Awesome NB: You used two font awesomes for this project. -->
      <script src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous"></script>
      <script src="/index.js"></script>
      <script src="routes/registrationform.js"></script>

  </body>
</html>