<head>
    <link rel="stylesheet" href="/sign_in_form.css">
</head>
<body>
    <form id="signi" name="mydata" action="signin/signin" method="POST">
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <input class="email" type="email" placeholder="Email" name="email">
        </div>

        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input class="password" type="password" placeholder="Password" name="password">
        </div>
        <!-- <button type="submit" value="submit">Register</button> -->
        <!-- <input class="btn" type="button" placeholder="" name="" value="Sign In" onclick='validatesignin()'> -->
        <button type="submit" class="btn" value="submit" onclick= 'validatesignin()'>Sign In</button>
    </div>
    <script src="/validateSignIn.js"></script>
</form>
    
</body>
